@mixin imagelogo {
    color: #FFF;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

@mixin greytext {
    color: rgba(255, 255, 255, 0.50);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

@mixin titleparagr {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

@mixin boutonstyle {
    width: 152px;
    height: 43px;
    border-radius: 75px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
    text-transform: uppercase;
}

@mixin h5style {
    color: rgba(255, 255, 255, 0.50);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@mixin ipad() {
    @media screen and (max-width: $ipad) {
      @content;
    }
}

@mixin mobile() {
     @media screen and (max-width: $mobile) {
        @content;
    }
}