* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 125px;
    padding-right: 125px;
}

